{% extends "frontend/template.html.twig" %}
{% block title %}Mentions Légales{% endblock %}
{% block body %}
<div class="row bg-hero-section">
    <div class="col-10 mx-auto d-flex justify-content-start align-items-end">
        <div class="block-title">
            <h1 class="title-hero-section">Mentions Légales</h1>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <h2 class="mb-4 border-b-black">Informations légales :</h2>
        <h4 class="mb-4 border-b-black"> Éditeur du site</h4>
        <p>
            Le site web "Escromania" est édité par : <br><br>

            [Raison sociale de l'entreprise]<br>
            [Adresse de l'entreprise]<br>
            [Téléphone de l'entreprise]<br>
            [Adresse e-mail de l'entreprise]<br>
            [Numéro d'identification de l'entreprise]<br>
        </p>
        <h4 class="mb-4 border-b-black">Directeur de la publication</h4>
        <p>
            [Prénom et nom du directeur de la publication] <br>
            [Adresse e-mail du directeur de la publication]
        </p>
        <h4 class="mb-4 border-b-black">Hébergement du site</h4>
        <p>
            Le site web "Escromania" est hébergé par : <br><br>

            [Nom de l'hébergeur]<br>
            [Adresse de l'hébergeur]<br>
            [Téléphone de l'hébergeur]<br>
        </p>
        <h2 class="mb-4 border-b-black">Propriété intellectuelle :</h2>
        <h4 class="mb-4 border-b-black">Droits d'auteur</h4>
        <p>
            Tous les contenus présents sur le site web "Escromania" (textes, images, vidéos, etc.) sont protégés par le droit d'auteur. Toute reproduction, représentation, modification ou distribution de ces contenus sans autorisation préalable écrite de l'éditeur est strictement interdite.
        </p>
        <h4 class="mb-4 border-b-black">Marques</h4>
        <p>
            Les marques, logos et autres signes distinctifs présents sur le site web "Escromania" sont protégés par le droit des marques et ne peuvent être utilisés sans autorisation préalable écrite de leur propriétaire.
        </p>
        <h2 class="mb-4 border-b-black">Données personnelles :</h2>
        <h4 class="mb-4 border-b-black">Collecte de données</h4>
        <p>
            L'éditeur du site peut être amené à collecter des données personnelles dans le cadre de l'utilisation du site web "Escromania". Les données collectées sont traitées conformément à notre politique de confidentialité, accessible à l'adresse [lien vers la politique de confidentialité].
        </p>
        <h4 class="mb-4 border-b-black">Cookies</h4>
        <p>
            Le site web "Escromania" utilise des cookies pour améliorer l'expérience de l'utilisateur. Pour en savoir plus sur l'utilisation des cookies et les options de gestion, veuillez consulter notre politique de cookies, accessible à l'adresse [lien vers la politique de cookies].
        </p>
    </div>
</div>

{% endblock %}