{% extends "frontend/template.html.twig" %}
{% block title %}Politique de confidentialité{% endblock %}
{% block body %}
<div class="row bg-hero-section">
    <div class="col-10 mx-auto d-flex justify-content-start align-items-end">
        <div class="block-title">
            <h1 class="title-hero-section">Politique de confidentialité</h1>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <p>Date d'entrée en vigueur : [Date]</p>
        <p>
        La présente Politique de Confidentialité décrit la manière dont Escromania collecte, utilise et protège les informations personnelles que vous nous fournissez lorsque vous utilisez notre site web. Votre vie privée est importante pour nous, et nous nous engageons à protéger vos informations personnelles. En utilisant notre site web, vous consentez à notre collecte et à notre utilisation de vos informations personnelles comme décrit dans cette politique.
        </p>
        <h2 class="mb-4 border-b-black">Informations que nous collectons :</h2>
        <h4 class="mb-4 border-b-black">Nous pouvons collecter les types d'informations suivants lorsque vous interagissez avec notre site web :</h4>
        <p>
            Informations d'identification personnelle telles que votre nom, votre adresse e-mail et votre numéro de téléphone lorsque vous vous inscrivez à notre newsletter ou créez un compte.
        </p>
        <p>
            Informations de transaction, y compris les informations nécessaires au traitement de vos commandes et paiements.
        </p>
        <p>
            Informations démographiques telles que votre code postal, vos préférences et vos intérêts, si vous choisissez de les partager avec nous.
        </p>
        <p>
            Informations techniques, y compris l'adresse IP de votre ordinateur, le type de navigateur que vous utilisez, les pages que vous consultez sur notre site, et d'autres données de navigation.
        </p>
        <h2 class="mb-4 border-b-black">Comment nous utilisons vos informations :</h2>
        <h4 class="mb-4 border-b-black">Nous utilisons les informations que nous collectons pour les finalités suivantes :</h4>
        <p>
            Pour vous fournir les produits et services que vous avez demandés.
        </p>
        <p>
            Pour personnaliser votre expérience sur notre site web en fonction de vos préférences.
        </p>
        <p>
            Pour vous envoyer des informations promotionnelles, des newsletters et d'autres communications marketing, sous réserve de votre consentement préalable.
        </p>
        <p>
            Pour améliorer notre site web, nos produits et nos services.
        </p>
        <p>
            Pour répondre à vos demandes, questions et commentaires.
        </p>
        <h4 class="mb-4 border-b-black">Protection de vos informations :</h4>
        <p>
            Nous nous engageons à protéger vos informations personnelles et à mettre en place des mesures de sécurité appropriées pour prévenir tout accès non autorisé, divulgation, modification ou destruction de vos informations personnelles.
        </p>
        <h2 class="mb-4 border-b-black">Partage d'informations :</h2>
        <h4 class="mb-4 border-b-black">Nous ne vendons pas, ne louons pas et ne divulguons pas vos informations personnelles à des tiers, sauf dans les cas suivants :</h4>
        <p>
            Lorsque cela est nécessaire pour fournir les produits ou services que vous avez demandés.
        </p>
        <p>
            Avec votre consentement préalable.
        </p>
        <p>
            Pour se conformer à la loi ou pour répondre à des demandes légales.
        </p>
        <h2 class="mb-4 border-b-black">Vos choix et droits :</h2>
        <p>
            Vous avez le droit de demander l'accès à vos informations personnelles que nous détenons, de les corriger, de les supprimer ou de restreindre leur utilisation. Vous avez également le droit de vous opposer au traitement de vos informations personnelles à des fins de marketing direct.
        </p>
        <h2 class="mb-4 border-b-black">Contactez-nous :</h2>
        <p>
            Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à l'adresse suivante : <br><br>
            [Adresse de contact] <br>
            [Adresse e-mail de contact]<br>
            [Numéro de téléphone de contact]<br>
        </p>
        <h2 class="mb-4 border-b-black">Modifications de la politique de confidentialité :</h2>
        <p>
            Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment. Les modifications apportées seront publiées sur cette page avec une date d'entrée en vigueur mise à jour. Nous vous encourageons à consulter régulièrement cette politique pour rester informé de la manière dont nous protégeons vos informations personnelles.
        </p>
    </div>
</div>

{% endblock %}