<footer class="row bg-primary py-3">
    <div class="col-10 mx-auto">
        <div class="row mb-3">
            <div class="col-4 text-center">
                <h2 class="text-white mb-3">Lien Utile</h2>
                <ul class="list-footer">
                    <li class="mb-2"><a href="#" class="link-footer">Mentions Légales</a></li>
                    <li class="mb-2"><a href="#" class="link-footer">Politique de confidentialité</a></li>
                    <li class="mb-2"><a href="#" class="link-footer">Condition géneral de vente</a></li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <h2 class="text-white mb-3">Nos Category</h2>
                <ul class="list-footer">
                    <li class="mb-2"><a class="link-footer" href="#">Jeux</a></li>
                    <li class="mb-2"><a class="link-footer" href="#">Goodies</a></li>
                    <li class="mb-2"><a class="link-footer" href="#">Poster</a></li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <h2 class="text-white mb-3">Nos Réseaux</h2>
                <ul class="list-footer">
                    <li class="mb-2"><a href="#" class="link-footer">Facebook</a></li>
                    <li class="mb-2"><a href="#" class="link-footer">Instagram</a></li>
                    <li class="mb-2"><a href="#" class="link-footer">Linkedin</a></li>
                </ul>
            </div>
        </div>
        <p class="text-center text-white">© Escromania - Tous droits réservés</p>
    </div>
</footer>