{% for product in products %}
    <div class="col-3 mb-4">   
        <a href="{{path('view_product',{'idProduct':product.id})}}" class="link-card">
            <div class="d-flex align-items-center justify-content-center card-tag bg-card-bleu">
                <p style="font-size: 2rem;">{{product.name}}</p>
            </div>
        </a>
    </div>
{% endfor %}
<div class="col-12 d-flex justify-content-center">
    {% if classButtonPrev is null %}
        <button hx-post="{{path('view_category_next_product',{'slugCategory':category,'start':start, 'action':'prev'})}}" hx-trigger="click" hx-target="#container-product" class="mx-5 pagination-search"><i class="feather-chevron-left"></i></button>
    {% else %}
        <button class="mx-5 pagination-search" disabled><i class="feather-chevron-left"></i></button>
    {% endif %}
    
    {% if classButtonNext is  null %}
        <button hx-post="{{path('view_category_next_product',{'slugCategory':category,'start':start, 'action':'next'})}}" hx-trigger="click" hx-target="#container-product" class="pagination-search"><i class="feather-chevron-right"></i></button>
    {% else %}
        <button class="pagination-search" disabled><i class="feather-chevron-right"></i></button>
    {% endif %}
    
</div>