{% extends "frontend/template.html.twig" %}
{% block title %}Recherche{% endblock %}
{% block body %}
<div class="row bg-hero-section">
    <div class="col-10 mx-auto d-flex justify-content-start align-items-end">
        <div class="block-title">
            <h1 class="title-hero-section font-f-special">Paiement</h1>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-10 mx-auto">
        <div class="row">
            <div class="col-3 p-5 d-flex align-items-center justify-content-center border-block-basket-1">
                <div class="text-center f-12r">
                    <p class="mb-0"><i class="feather-shopping-cart"></i></p>
                    <p class="mb-0">1. Panier</p>
                </div>
            </div>
            <div class="col-3 p-5 d-flex align-items-center justify-content-center border-block-basket">
                <div class="text-center f-12r">
                    <p><i class="feather-file-text"></i></p>
                    <p>2. Ma Commande</p>
                </div>
            </div>
            <div class="col-3 p-5 d-flex align-items-center justify-content-center border-block-basket bg-card-red">
                <div class="text-center f-12r">
                    <p><i class="feather-credit-card"></i></p>
                    <p>3. Paiement</p>
                </div>
            </div>
            <div class="col-3 p-5 d-flex align-items-center justify-content-center border-block-basket">
                <div class="text-center f-12r">
                    <p><i class="feather-check-circle"></i></p>
                    <p>4. Validation</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center my-5">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                {% for message in app.flashes('success') %}
                    <div 
                        style="color: green;
                            border: 2px green solid;
                            text-align: center;
                            padding: 5px;margin-bottom: 10px;">
                        {{ message }}
                    </div>
                {% endfor %}

                <form id='checkout-form' method='post' action="{{ path('app_stripe_charge',{'step':'finish'}) }}">             
                    <input type='hidden' name='stripeToken' id='stripe-token-id'>                              
                    <label for="card-element" class="mb-5">Remplissez le champs suivant pour payer : </label>
                    <br>
                    <div id="card-element" class="form-control" ></div>
                    <button 
                        id='pay-btn'
                        class="btn btn-success mt-3"
                        type="button"
                        style="margin-top: 20px; width: 100%;padding: 7px;"
                        onclick="createToken()">Total à payer : {{total / 100}}€
                    </button>
                <form>
            </div>
        </div>
    </div>
</div>
<script src="https://js.stripe.com/v3/" ></script>
<script>
    var stripe = Stripe("{{stripe_key}}");
    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');
    
    function createToken() {
        document.getElementById("pay-btn").disabled = true;
        stripe.createToken(cardElement).then(function(result) {
    
                    
            if(typeof result.error != 'undefined') {
                document.getElementById("pay-btn").disabled = false;
                alert(result.error.message);
            }
    
            // creating token success
            if(typeof result.token != 'undefined') {
                document.getElementById("stripe-token-id").value = result.token.id;
                document.getElementById('checkout-form').submit();
            }
        });
    }
</script>
{% endblock %}